.face-list-header
    h1
        font-size: 2.5rem
        line-height: 5rem
    i  
        font-size: 1.5rem

.person-list
    a
        color: #111
    li
        padding-top: 0
        padding-bottom: 0
        padding-right: 0
        &:hover
            background: #eee
            cursor: pointer
            a
                text-decoration: underline
